:root {
  --primary-color: #fffafa;
  --secondary-color: #83580b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #fffafa;
  padding: 10px;
}

h1 {
  color: var(--secondary-color);
}

h2 {
  color: var(--secondary-color);
}

h3 {
  color: #a65e09;
}

.main-diodenlaser {
  color: var(--secondary-color);
}

.main-peeling {
  color: var(--secondary-color);
}

.main-icoone {
  color: var(--secondary-color);
}

.text-alina {
  text-align: justify;
}

.header-alina,
.header-loredana {
  padding: 15px;
}

.intro-team {
  text-align: center;
  padding: 10px;
}
#foto-alina {
  max-width: 400px;
}
#preise-laser-klein {
  max-width: 500px;
  max-height: 1200px;
}
