:root {
  --primary-color: #fffafa;
  --secondary-color: #83580b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #fffafa;
  padding: 10px;
}

h1 {
  color: var(--secondary-color);
  padding: 10px;
}

h2 {
  color: var(--secondary-color);
}

h3 {
  color: #a65e09;
  padding: 10px;
}

.main-diodenlaser {
  color: var(--secondary-color);
}

.main-peeling {
  color: var(--secondary-color);
}

.main-icoone {
  color: var(--secondary-color);
}

.text-alina {
  text-align: justify;
}

.header-alina,
.header-loredana {
  padding: 15px;
}

.intro-team {
  text-align: center;
  padding: 10px;
}
#foto-alina {
  max-width: 400px;
}
#preise-laser-klein,
#preise-laser-gross,
#preise-pakete-damen,
#preise-pakete-herren,
#preise-micro,
#preise-icoone {
  max-width: 500px;
  max-height: 1200px;
}

.impressum-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  padding: 10px;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
  border-radius: 4%;
}

.icoone-text,
.icoone-advantages,
.icoone-audiencens {
  margin-top: 20px;
  margin-bottom: 15px;
}

.contact-lory {
  font-weight: 500;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  padding: 10px;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
  border-radius: 6%;
}

.social-media-icons {
  width: 20%;
  margin-left: 43%;
  margin-right: 30%;
  margin-top: 10px;
}

.fb-icon,
.ig-icon {
  max-height: 39px;
  max-width: 39px;
  padding: 4px;
}

.header-diodenlaser {
  max-height: 650px;
  max-width: 720px;
}

.dioden-header {
  padding: 8px;
}

.frist {
  font-weight: 700;
  color: #900048;
}

.impressum-inhalt,
.impressum-header,
.impressum-inhalt-1 {
  display: flex;
  justify-content: center;
}

.impressum-header {
  margin: 10px;
}

.mediostar {
  display: flex;
  justify-content: right;
}

.anfahrt-skizze {
  max-width: 550px;
  max-height: 550px;
}
